*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./images/istockphoto-14.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
 
    height: auto;
    width: 100%;
    .heada-one{
        display: flex;
        align-items: center;
        gap: 22%;
        background-color: #968a85c7;
        width: 100%;
        height: 110px;
        .logo{
            width: 19%; height: 100%;
            margin-left: 8px;
            .quiz{width: auto; height: 100%;}
        }
        .home{
            display: flex;
            gap: 10px;
            a{
                text-decoration:none;
                padding: 10px;
                color: white;
                white-space: nowrap;
                border-bottom: black
            }
            a:hover{
                transform: scale(1.2); 
            }
        
        }
        .access{
            width: auto; height: auto;
            display: flex; align-items: center;
           
        }
    }
    
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-btn{
    text-decoration: none;
    padding: 15px 30px;
    margin: 45px;
    background-color: #32296c;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    border: none;  
    white-space: nowrap;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 35px;
    left: 23px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
  }
.login:hover{
    background-color: #01eae8;
    color: black;
}
.quiz{
    width: 45%;
    height: 100%;
   
}
.register{
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color:#01eae8;
    font-size: 15px;
    color: black;
    text-decoration: none;
   }
   .register:hover{
    background-color:#32296c;
    color: white;
   }
   .bar{
    width: auto; height: auto; margin: 10px 10px;
   }
   .fa-bars{
    font-size: 30px;
    display: none;
}

.hero-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
    margin: 30px 10px;
    background-color: #32296cce;
    padding: 40px 10px;
    border-radius: 10px 20px 15px;
    box-shadow: 2px 5px 5px 15px #01eae62d;
    .quiz-image{width: 70%; margin: auto;}
    p:nth-child(3){font-size: 40px; font-weight: bold; color: white; text-align: center;}
    p:nth-child(4){font-size: 20px; font-weight: bold; color: #fff; text-align: center;}
}
@keyframes type {
    0% {width: 0;}
    100% {width: 100%;}
  }
.mind{
    color: #01eae8;
    white-space: nowrap;
    overflow: hidden;
    animation: type 10s steps(60, end) forwards;
    animation-iteration-count: infinite;
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.cta-button{
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    /* padding: 15px 180px; */
    padding: 15px 45%;
    color: black;
    border-radius: 13px;
    background-color: #01eae8;
    animation: mybutton 10s linear 2s infinite alternate-reverse;
}
@keyframes mybutton {
    0% {background-color: #01eae8; color: black; }
    25% {background-color: #32296c; color: white; }
    50% {background-color: white; color: black; }
    75% {background-color: #01eae8; color: black; }
    100% {background-color: white; color: black; }
}
section{
    background-color: #aba29e46;
    padding: 20px;
}
.mission{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(200px, auto));
    gap: 15px 0px;
    padding: 0px 20px;
    div{background-color: white;}
}
.mission-image{
    overflow: hidden;
    padding: 10px;
    img{border-radius: 15px; width: 100%;}
}
.vission h1{text-align: center; margin: 10px;}
.vission ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 25px;
    li{text-align: justify; list-style-type:circle;}
}
.categories{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, minmax(100px, auto));
}
.background{
    background-image: url(./images/pngwing.com.png);
    background-size: cover;
    background-position: center;
    background-clip: ;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 255, 255, 0.411);
    z-index: -200;
}
.items{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.925);
    padding-top: 30px;
}
.items h1{
    text-align: center;
    color: #4f87b5;;
    z-index: 999;
}
.items>.email{ 
    width: 40%;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.email .userinput{
    width: 176%;
    padding: 8px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 5px;
    /* position: relative; */
}
.email a{
    border: 2px solid red;
    padding: 7px;
    border: 5px;
    background-color: #18629f;
    color: #ffffff;
    text-decoration: none;
    /* position: absolute; */
}

.email a:hover{
    background-color: #01eae8;
    color: black;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, minmax(100px, auto));
    margin-top: 50px;
    div{background-color: #32296c80;}
    .foot-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{width: 50%;}
    }
}
.foot-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    div{
        width: 100%; 
        height: 150px; 
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #9894b5;
        h4{font-size: 20px;}
        ul,li{font-size: 18px; list-style-type: none; background-color: #9894b5; display: flex; flex-direction: column; gap: 15px; cursor: pointer;}

    }
    
}

.copyright{
    grid-column: 1/4;
    display: grid;
    justify-content: center;

   
 }
 .foot-social{
    padding: 40px;
    h4{font-size: 20px;}
    .social-icon a{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 5px;
        background-color: #9894b5;
        img{width: 10%; margin: auto;}
    }
 }

 @media screen and (width <= 1061px){
    .mission{
        grid-template-columns: 1fr;
    }
 }
 @media screen and (width <= 1111px ){
    header>.heada-one{
        gap: 10%;
    }

 }
@media screen and (width <= 990px ) {
    .mind{
        font-size: 15px;
    }
    .heada-one{
        gap: 10%;
    }
    .hero-content>.quiz-image{
        width: 50%;
    }
    .hero-content>p:nth-child(3){
        font-size: 20px;
    }
    .hero-content>p:nth-child(4){
        font-size: 15px;
    }
    .hero-content>.cta-button{
        font-size: 18px;
    }
}
@media screen and (width <= 957px ){
    header>.heada-one{
        gap: 5%;
    }
}
@media screen and (width <= 838px ){
    header>.heada-one{
        gap: 3%;
    }
    header>.heada-one>.logo{
        width: 35%;
    }
}
@media only screen and (width <= 760px) {
    .heada-one>div:nth-child(2){
        display: none;
    }
    .heada-one>div:nth-child(3){
        display: none;
    }
    .fa-bars{
        font-size: 30px;
        display: block;
        margin-left: 150px;
        cursor: pointer;
    }
}